html {
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  background-image: url('../images/universe.jpg');
  color: #E8AB1A;
  text-align: center;
  font-family: 	'Josefin Sans'; 
}
*, *:before, *:after {
  box-sizing: inherit;
}

.intro{
	
	padding:5rem 5rem;
	font-size: 5rem;
}

#question-answer{
	
	height: 70rem;
}

.box-style{
	padding: 1rem;
	font-size: 3rem;
	border: 2px solid #2299E8;
	background: linear-gradient(to right, darkblue , indigo);
	border-radius:2rem 2rem;
	margin:5rem auto;
}
.question{
	
	width: 80rem;
	
}

 #answers li{
	padding: 2rem;
	font-size: 3rem;
	border: 2px solid #2299E8;
	width: 60rem;
	margin:2rem auto;
	border-radius:5rem 5rem;
	font-size: 2rem;
	
}
#answers li:hover{
	cursor: pointer;
}
.submit{
	width: 20rem;	
}
.submit:hover{
	cursor: pointer;
}

#display-answer{
	padding: 2rem;
	width: 70rem;
	margin:2rem auto;
	font-size: 4rem;
	color:white;
}
