html {
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  background-image: url('../images/universe.jpg');
  color: white;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.intro{
	
	text-align: center;
	font-size: 5rem;
}


